.main-card {
    width: 30rem;
}

@media screen and (max-width: 300px) {
    .main-card {
      width: 25rem;
    }
  }

.card-image {
    width: 100%;
    height: 265px;
}

#ntbTextSection, #navSection {
    background-color: #ECDAEC;
    border: 1px solid #60308c;
}

#answerButtonSection {
    border-right: 1px solid #60308c;
    border-left: 1px solid #60308c;
}

.card-text {
    color: #60308c;
    font-weight: 500;
    font-size: large;
}

span {
    color: #60308c;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

#score {
    color: #60308c;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 500px) {
    span {
      font-size: large;
    }
  }

@media screen and (max-width: 500px) {
    #score {
      font-size: medium;
    }
  }

@media screen and (max-width: 355px) {
    span {
      font-size: medium;
    }
  }

@media screen and (max-width: 355px) {
    #score {
      font-size: small;
    }
  }

#navSection button:disabled {
    border: none;
    background-color: #ECDAEC;
    color: #ECDAEC;
    width: 8rem;
    text-align: center;
    height: fit-content;
}

#navSection button:not(:disabled) {
    border: none;
    width: 8rem;
    background-color: #800051;
    color: white;
    text-align:center;
    font-size: large;
    height: fit-content;
}

@media screen and (max-width: 500px) {
    #navSection button:not(:disabled), #navSection button:disabled {
      font-size: medium;
      width: 7rem;
    }
  }

  @media screen and (max-width: 400px) {
    #navSection button:not(:disabled), #navSection button:disabled {
      font-size: small;
      width: 5.7rem;
      padding-inline-end: 4px;
      padding-inline-start: 4px;
    }
  }

#navSection {
    padding: 0.25rem;
}